---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Preloader from '../components/Preloader.astro';
import HeroSection from '../components/HeroSection.astro';
import AboutSection from '../components/AboutSection.astro';
import CinematographySection from '../components/CinematographySection.astro';
import VideoModal from '../components/VideoModal.astro';
import ContactSection from '../components/ContactSection.astro';
import Footer from '../components/Footer.astro';
import { NAV_LINKS, LOGOS, CATEGORIES, VIDEOS, INITIAL_VISIBLE } from '../data/portfolio';

const isReelReady = false;
---

<Layout>
  <Preloader />
  <Navbar links={NAV_LINKS} />

  <div id='page-wrap'>
    <main id='main-content'>
      <HeroSection isReelReady={isReelReady} logos={LOGOS} />
      <AboutSection />
      <CinematographySection
        categories={CATEGORIES}
        videos={VIDEOS}
        initialVisible={INITIAL_VISIBLE}
      />
      <ContactSection />
    </main>
    <Footer />
  </div>

  <VideoModal />
</Layout>
